*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    
}
header{
    background: black;
    text-align: center;
}
nav{
    background-color: #961712;
    margin-bottom: 5px;
    height: 50px;
    display: flex;
}
nav ul{
    list-style: none;
    text-align: left;
}
nav ul li{
    display: inline-block;
    padding: 15px;
    color: white;
}

.timkiem{
    float: right;
    margin-left: 430px;
    margin-top: 15px;
    
}
.banner{
    width: 1200px;
    
}
h1{
    text-align: center;
    color: red;
    margin-top: 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}
.image1{
    width: 310px;
    height: 254px;
}
.image2{
    width: 310px;
    height: 254px;
}
.image3{
    width: 310px;
    height: 254px;
}
section button{
    background-color: red;
}
section p{
    color: aqua;
    font-size: 20px;
}
section del{
    color: red;
}
.image4{
    float: left;
    width: 530px;
    height: 369px;
    margin-left: 50px;
}
.text{
    float: right;
    margin-left: 25px;
}
footer{
    background-color: #6F6A6A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    color: white;
}
article{
    display: flex;
}
